* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
.choiseBlock {
  margin: 20px;
  width: 50%;
}
.chbTheme,
.chbClientType {
  display: flex;
  margin-bottom: 20px;
}
.theme {
  line-height: 30px;
  min-width: 190px;
  padding: 0 16px;
  margin-right: 20px;
  color: rgb(94, 94, 94);
  font-weight: 500;
  border-radius: 20px;
  border: 2px solid #555;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}
.theme:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

input[name="themeType"]:checked + div {
  background-color: #555;
  color: #fff;
}
.client {
  line-height: 25px;
  padding: 0 6px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.red {
  color: red;
}
label .red {
  color: red;
  border: 1px solid red;
}
label.red:hover,
input[name="clientType"]:checked + .red {
  background-color: red;
  color: #fff;
}
.yellow {
  color: rgb(216, 213, 24);
}
label .yellow {
  color: rgb(165, 162, 13);
  border: 1px solid rgb(216, 213, 24);
}
label.yellow:hover,
input[name="clientType"]:checked + .yellow {
  background-color: rgb(216, 213, 24);
  color: #fff;
}
.green {
  color: green;
}
label .green {
  color: green;
  border: 1px solid green;
}
label.green:hover,
input[name="clientType"]:checked + .green {
  background-color: green;
  color: #fff;
}
.blue {
  color: blue;
}
label .blue {
  color: blue;
  border: 1px solid blue;
}
label.blue:hover,
input[name="clientType"]:checked + .blue {
  background-color: blue;
  color: #fff;
}

.clientTypeDescriptionBlock {
  width: 400px;
  margin-left: 50px;
  position: relative;
  /* overflow: hidden; */
}
.description {
  width: 1600px;
  height: 220px;
  display: flex;
  position: relative;
  transition: 0.3s;
}
h4 {
  margin-bottom: 20px;
}
.descr {
  width: 400px;
  height: 220px;
  text-align: center;
  text-shadow: 0 -1px 1px #777;
}
.clientTypeDescriptionBlock .descr {
  display: none;
}

/* .arrows {
  display: flex;
  justify-content: space-between;
}
.arr {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #777;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
} */
input {
  display: none;
}
.taskDescription {
  width: 400px;
  margin-left: 50px;
  margin-top: 30px;
  position: relative;
}
