header {
    height: 100px;
    background-color: coral;
}
aside {
    width: 250px;
    height: 200px;
    float: left;
}
ul {
    background-color: coral;
    width: 160px;
}

section {
    background-color: aliceblue;
}
footer {
    background-color: peru;
    height: 70px;
}
h2 {
    color: coral;
}